.navbar {
  background-color: #642d0f;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
  width: 100%;
}

.navbar .logo {
  color: #ecf0f1;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  padding-right: 25px;
}

.nav-links li {
  margin-left: 20px; 
}

.nav-links a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Hover and focus effect */
.nav-links a:hover, 
.nav-links a:focus {
  color: #d2b48c; /* Light brown color */
  animation: bounce 0.6s ease;
}

/* Keyframes for the bounce effect */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Styling the button */
.nav-links button {
  background-color: #e74c3c;
  border: none;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Bounce animation for button */
.nav-links button:hover {
  background-color: #c0392b;
  animation: bounce 0.6s ease;
}
