<nav *ngIf="isAdmin" class="navbar">
  <div class="logo">ZeroWasteOne</div>
  <ul class="nav-links">
    <li><a routerLink="/admin-dashboard">Dashboard</a></li>
    <li><a routerLink="/broadcast">Broadcast Message</a></li>
    <li><a routerLink="/generate-report">Generate Report</a></li>
    <li><a routerLink="/view-issue">View Issue</a></li>
    <li><a routerLink="/view-profile">Profile</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</nav>

<nav *ngIf="!isAdmin" class="navbar">
  <div class="logo">ZeroWasteOne</div>
  <ul class="nav-links">
    <li><a routerLink="community-dashboard">Dashboard</a></li>
    <li><a routerLink="/schedule-pickup">Schedule Pickup</a></li>
    <li><a routerLink="/pickup-history">Pickup History</a></li>
    <li><a routerLink="/generate-report">Generate Report</a></li>
    <li><a routerLink="/report-issue">Report Issue</a></li>
    <li><a routerLink="/notifications">Notifications</a></li>
    <li><a routerLink="/view-profile">Profile</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</nav>

  