<div class="login-container">
  <h1>ZeroWasteOne</h1>
  <h2>Community User Registration</h2>
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <form (ngSubmit)="registerUser()">
    
    <label for="fullName">Full Name</label>
    <input type="text" id="fullName" [(ngModel)]="user.fullName" name="fullName" required />

    <label for="phone">Phone:</label>
    <input type="text" [(ngModel)]="user.phone" name="phone" id="phone" placeholder="Enter your phone number" required />

    <label for="email">Email:</label>
    <input type="email" [(ngModel)]="user.email" name="email" id="email" placeholder="Enter your email" required />

    <label for="address">Address:</label>
    <input type="text" [(ngModel)]="user.address" name="address" id="address" placeholder="Enter your house address" required />

    <label for="community">Select Community:</label>
  <select id="community" [(ngModel)]="user.community" name="community" required>
    <option value="" disabled>Select Community</option>
    <option *ngFor="let community of communities" [value]="community._id">
      {{ community.name }}
    </option>
  </select>

    <button type="submit">Register</button>
  </form>
  <div class="links">
    <a (click)="goToLogin()">Back to Login</a>
  </div>
</div>