<nav class="navbar">
  <div class="logo">ZeroWasteOne</div>
  <ul class="nav-links">
    <li><a routerLink="/admin-dashboard">Dashboard</a></li>
    <li><a routerLink="/broadcast">Broadcast Message</a></li>
    <li><a routerLink="/generate-report-admin">Generate Report</a></li>
    <li><a routerLink="/view-issue">View Issue</a></li>
    <li><a routerLink="/view-profile-admin">Profile</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</nav>

<div class="generate-report-container">
  <h2>Generate Report</h2>

  <div class="form-container">
    <div class="form-group">
      <label for="reportType">Select Report Type:</label>
      <select id="reportType" (change)="onReportChange($event)">
        <option *ngFor="let option of reportOptions" [value]="option">{{ option }}</option>
      </select>
    </div>

    <div>
      <label for="startDate">Start Date:</label>
      <input type="date" [(ngModel)]="startDate" id="startDate">
    </div>
  
    <div>
      <label for="endDate">End Date:</label>
      <input type="date" [(ngModel)]="endDate" id="endDate">
    </div>

    <button (click)="generateReport()">Generate Report</button>
  </div>

  <div *ngIf="reportMessage" class="report-message">
    <p>{{ reportMessage }}</p>
  </div>

   <!-- Chart Display -->
  <div class="chart-container" *ngIf="reportMessage">
    <canvas #reportChart></canvas>
  </div>

</div>
