<nav class="navbar">
  <div class="logo">ZeroWasteOne</div>
  <ul class="nav-links">
    <li><a routerLink="/community-dashboard">Dashboard</a></li>
    <li><a routerLink="/schedule-pickup">Schedule Pickup</a></li>
    <li><a routerLink="/pickup-history">Pickup History</a></li>
    <li><a routerLink="/generate-report-user">Generate Report</a></li>
    <li><a routerLink="/report-issue">Report Issue</a></li>
    <li><a routerLink="/notifications">Notifications</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</nav>

<div class="dashboard-container">
  <h2>Community Dashboard</h2>
  <div class="community-info-card">
    <h3><strong>User Name:</strong> {{ userName }}</h3>
    <h3><strong>User Email:</strong> {{ email }}</h3>
  </div>
</div>
